@import "../_mixins.scss";

.navLink {
  display: inline-block;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding-left: 2rem;
  color: var(--black-1);
  @include smallDeviceSize {
    font-size: 1.7rem;
  }
}
